[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
alembic = "*"
sqlalchemy = "*"
flask-cors = "*"
pyjwt = "*"
werkzeug = "*"
flask-mail = "*"
httpx = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.11"
