[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
flask = "*"
gunicorn = "*"
pytest = "*"
coverage = {extras = ["toml"], version = "*"}
pytest-mock = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"
