[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
flask = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
